body {
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 500;
    font-style: normal;
    background-color: aliceblue;
}

.title {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}

header {
    height:60px;
    color:black
}

header>nav {
    max-width: 720px;
    margin: 0 auto;
    padding : 12px 20px;

}

header>nav>ul {
    display:flex;
    justify-content: center;
}

header>nav>ul>li {
    background-color: white;
    list-style: none;
    flex-direction: column;
    margin: 0 20px;
    padding: 10px;
    border-radius: 7px;
}
.machine {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.machine_title {
    color: green;
    margin-top:15px;
}

.extract-btn {
    width : 100px;
    margin-top:13px;
    margin-bottom: 50px;
}

.user {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.status {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.status_msg {
    color:red;
}

#container {
    max-width: 300px;
    margin: 0 auto;
}